.contenedor {
  border: 5px solid #e1bee7;
  background-color: #fff1ff;
  display: grid;
  /*grid-template-columns: 30px 200px 60px;*/
  grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
  grid-template-rows: repeat(3, auto); /*3 veces auto ajustable*/  
  place-content: center;
}

.item {
  border: 5px solid red;
  font-size: 4rem;
}